@tailwind base;
@tailwind components;
@tailwind utilities;

p,
h6 {
  margin: 0;
  padding: 0;
}

.msg-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 90%;
  border-radius: 20px;
  padding: 15px;
}

.messages {
  font-family: "Montserrat", sans-serif;
}

.dashboard-img {
  background-image: url(../images/bg-image.jpg);
}
